@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'inter';
    src: url('../public/fonts/Inter-VariableFont_slnt\,wght.ttf');
}

body{
    font-family: 'inter';
}

.taskbox{
    background: white;
    border: 1px solid #F3E1DF;

}

.dragging{
    rotate: -3deg;
    opacity: 1 !important;
}